In [22]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt 

df = pd.read_csv('/Users/ladipo/Desktop/Charter/charter_pricepred/data/processed/data_generation.csv')
df.head()

,Charter Date,Vessel Type,Cargo Capacity (DWT),Container Capacity (TEU),Vessel Length (m),Vessel breadth (m),Charter Price ($/day),Duration (days),Fuel Cost ($/liter),LNG Capacity (m),LPG Capacity (m),Size Category,Cargo Type
0,2022-10-04,Tanker,100055.0,NaN,185,20,22828,275,0.51,NaN,NaN,Panamax,Crude Oil
1,2022-10-09,Bulk Carrier,45910.0,NaN,258,59,15494,232,0.78,NaN,NaN,Panamax,Coal
2,2022-03-05,LPG Carrier,54665.0,NaN,191,34,22576,376,0.65,NaN,23021.0,Typical LPG Carrier,LPG
3,2021-05-17,Chemical Tanker,37456.0,NaN,193,25,18391,392,0.51,NaN,NaN,IMO Type 3,Chemicals
4,2021-06-07,Tanker,331104.0,NaN,88,30,22427,448,0.80,NaN,NaN,Suezmax,Crude Oil

In [23]:
df.iloc[:, [0, 1, 2, 3]]

,Charter Date,Vessel Type,Cargo Capacity (DWT),Container Capacity (TEU)
0,2022-10-04,Tanker,100055.0,NaN
1,2022-10-09,Bulk Carrier,45910.0,NaN
2,2022-03-05,LPG Carrier,54665.0,NaN
3,2021-05-17,Chemical Tanker,37456.0,NaN
4,2021-06-07,Tanker,331104.0,NaN
...,...,...,...,...
2495,2021-10-01,Chemical Tanker,29242.0,NaN
2496,2023-08-05,Product Tanker,132274.0,NaN
2497,2021-01-16,Tanker,382036.0,NaN
2498,2022-07-04,LPG Carrier,48526.0,NaN
2499,2024-01-17,LNG Carrier,130575.0,NaN

In [24]:
df.isnull().sum()

Charter Date                   0
Vessel Type                    0
Cargo Capacity (DWT)         351
Container Capacity (TEU)    2149
Vessel Length (m)              0
Vessel breadth (m)             0
Charter Price ($/day)          0
Duration (days)                0
Fuel Cost ($/liter)            0
LNG Capacity (m)            2129
LPG Capacity (m)            2162
Size Category                  0
Cargo Type                     0
dtype: int64

In [28]:
df['vessel_type'].value_counts()

vessel_type
Bulk Carrier       387
LNG Carrier        371
Tanker             366
Chemical Tanker    359
Container Ship     351
LPG Carrier        338
Product Tanker     328
Name: count, dtype: int64

In [26]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [27]:
df.columns

Index(['charter_date', 'vessel_type', 'cargo_capacity_(dwt)',
       'container_capacity_(teu)', 'vessel_length_(m)', 'vessel_breadth_(m)',
       'charter_price_($/day)', 'duration_(days)', 'fuel_cost_($/liter)',
       'lng_capacity_(m)', 'lpg_capacity_(m)', 'size_category', 'cargo_type'],
      dtype='object')